{% extends "layout.html" %}
{% block content %}
<body>
    <h1>Welcome to your pantry!</h1>
    
    <p>Here's what you currently have:</p>
    
    {% if all_ingr %}
        <table>
            <tr>
                <th>Ingredient Name</th>
                <th>Amount</th>
            </tr>
            {% for ingr in all_ingr %}
                <tr>
                    <td>{{ingr.name}}</td>
                    <td>{{ingr.qty}}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <small class="text-muted">
            Your pantry is currently empty, try adding some ingredients!
        </small>    
    {% endif %}
</body>
{% endblock content %}
{% block side %}
<div class="content-section">
    <form method="POST" action="">
        {{ add_form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Change Ingredients</legend>
            <div class="form-group">
                {{ add_form.name.label(class="form-control-label") }}
                {% if add_form.name.errors %}
                    {{ add_form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in add_form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ add_form.name(class="form-control form-control-lg") }}
                {% endif %}
                {{ add_form.qty.label(class="form-control-label") }}
                {% if add_form.qty.errors %}
                    {{ add_form.qty(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in add_form.qty.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ add_form.qty(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ add_form.add(class="btn btn-outline-info") }}
            {{ add_form.remove(class="btn btn-outline-info") }}
            {{ add_form.delete(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

{% endblock side %}