{% extends "layout.html" %}
{% block content %}
<body>
    <h1>Welcome to your pantry!</h1>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add Ingredients</legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                    {{ form.qty.label(class="form-control-label") }}
                    {% if form.qty.errors %}
                        {{ form.qty(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.qty.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.qty(class="form-control form-control-lg") }}
                    {% endif %}
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
    </div>
    <p>Here's what you currently have:</p>
    {% if recipes %}
        {% for recipe in recipes.keys() %}
            <p><i> {{recipe}} </i></p>
            <p> instructions: {{recipes[recipe]["instructions"]}}</p>
        {% endfor %}
    
    {% endif %}
</body>
{% endblock content %}