{% extends "layout.html" %}
{% block content %}
    <h1>Welcome to your recipes!</h1>
    {% if recipes %}
        <div class="d-flex">
            {% for recipe in recipes%}
                <div class="border py-2 px-5">
                    <h3>{{recipe.name}}</h3>
                    <a href="{{ url_for('update_recipe',recipe_id=recipe.id) }}">
                        <button class="btn btn-sm">Update</button></a>
                    <a href="{{ url_for('delete_recipe',recipe_id=recipe.id) }}">
                        <button class="btn btn-danger btn-sm">Delete</button></a>
                    {% if RecipeIngredient.query.filter_by(recipe_id=recipe.id).all()%}
                        <p><i>Ingredients:</i>
                        {% for ingr in RecipeIngredient.query.filter_by(recipe_id=recipe.id).all() %}
                        <br>{{ingr.name}} : {{ingr.qty}}
                        {% endfor %}
                        </p>
                    {% else %}
                        <p><i>No ingredients for this recipe were entered.</i></p>
                    {% endif %}
                    <p><i>Instructions:</i><br>
                    {{recipe.instructions}}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        You currently have no recipes added. Try adding some!
    {% endif %}
{% endblock content %}
