{% extends "layout.html" %}
{% block content %}
    <h1>Welcome to your recipes!</h1>
    {% if recipes %}
        {% for recipe in recipes%}
            <h2>{{recipe.name}}</h2>
            <p>{{recipe.instructions}}</p>
        {% endfor %}
    {% else %}
        You currently have no recipes added. Try adding some!
    {% endif %}
{% endblock content %}
{% block side %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Search For a Recipe</legend>
                <div class="form-group">
                    {{ form.query.label(class="form-control-label") }}
                    {% if form.query.errors %}
                        {{ form.query(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.query.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.query(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
    </form>
</div>
{% endblock side %}