{% extends "layout.html" %}
{% block content %}
    <h1>Welcome to your recipes!</h1>
    {% if recipes %}
        {% for recipe in recipes%}
            <h3>{{recipe.name}}</h3>
            <a href="{{ url_for('update_recipe',recipe_id=recipe.id) }}">
                <button class="btn btn-sm">Update</button></a>
            <a href="{{ url_for('delete_recipe',recipe_id=recipe.id) }}">
                <button class="btn btn-danger btn-sm">Delete</button></a>
            {% if RecipeIngredient.query.filter_by(recipe_id=recipe.id).all()%}
                <p><i>Ingredients:</i>
                {% for ingr in RecipeIngredient.query.filter_by(recipe_id=recipe.id).all() %}
                <br>{{ingr.name}} : {{ingr.qty}}
                {% endfor %}
                </p>
            {% else %}
                <p><i>No ingredients for this recipe were entered.</i></p>
            {% endif %}
            <p><i>Instructions:</i><br>
            {{recipe.instructions}}</p>
        {% endfor %}
    {% else %}
        You currently have no recipes added. Try adding some!
    {% endif %}
{% endblock content %}
